body {
  margin: 0;
  padding: 0;
}
#navbarMenu {
  background-color: #29AAE2 !important;
}
.navbar {
  background-color: #29AAE2 !important;
}
.navbar-item {
  color: #fff !important;
}
.navbar-item:hover {
  color:#000 !important;
  transition: color 250ms;
  -webkit-transition: color 250ms;
}
.title {
  color: #1C9E4A !important;
  font-family: "Phantom Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.subtitle {
  margin-top: 2%;
}
.title-box {
  margin: 7% 0% 7% 0% !important;
}
