@font-face {
font-family: "Chivo";
src: url("Chivo-Regular.otf") format("opentype");
}
html {
  height:100%;
}
body {
  margin: 0;
  padding: 0;
  height:100%;
}
#navbarMenu {
  background-color: #29AAE2 !important;
}
.navbar {
  background-color: #29AAE2 !important;
}
.navbar-item {
  color: #fff !important;
}
.navbar-item:hover {
  color:#000 !important;
  transition: color 250ms;
  -webkit-transition: color 250ms;
}
.title {
  color: #fff !important;
  font-family: "Chivo", Arial;
  margin: 2.5% 2.5% 2.5% 2.5% !important;
}
.subtitle {
  margin-top: 2%;
  color: #fff !important;
  margin: 2.5% 2.5% 2.5% 2.5% !important;
}
.title-box {
  margin: 7% 0% 7% 0% !important;
}
.info-box {
  margin: 2.5% 2.5% 2.5% 2.5% !important;
}
.columns {
  margin-bottom: 2.5% !important;
}
.main::after {
  background: url(https://i.udemycdn.com/course/750x422/1713468_3ee3_4.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  content: "";
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position:absolute;
  z-index: -1;
}
.main {
  display: block;
  position: relative;
}
@media all and (max-width: 768px) and (min-width:0px) {
  .info-box {
    margin: 2.5% 7.5% 2.5% 7.5% !important;
  }
  .columns {
    margin-top: 7.5% !important;
    margin-bottom: 2.5% !important;
  }
  #about-section {
    height:80%;
  }
  .contact-card {
    max-width:150px !important;
  }
  .contact-link {
    font-size:18px !important;
  }
}
#about-section {
  background-color: #fff;
  margin-top:-2.5% !important;
}
.contact-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}
.contact-link {
  text-decoration: none;
  font-size: 22px;
  color: black;
}
.contact-link:hover {
  opacity:.6;
}
