body {
  margin: 0;
  padding: 0;
}
#navbarMenu {
  background-color: #29AAE2 !important;
}
.navbar {
  background-color: #29AAE2 !important;
}
.navbar-item {
  color: #fff !important;
}
.navbar-item:hover {
  color:#1C9E4A;
  transition: 250ms color;
}
.subtitle {
  margin-top: 2%;
}
#title {
  margin-top:10%;
}
